*
{
  margin: 0px;
  padding: 0px;
}

.gameBoard
{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: ". . ." ". board ." ". . .";
}

.board
{
  grid-area: board;
}
