*
{
  margin: 0px;
  padding: 0px;
}
body
{
  height: 100vh;
  width: 100vw;
}

.gameBoard
{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas: "." "board" ".";
  justify-items: center;
  align-items: center;
}

.board
{
  grid-area: board;
}
